*{
  margin: 0;
  padding: 0;
}

body {
  background: #455A64;
  color: #ECEFF1;
  /* https://fonts.google.com/specimen/Poppins */
  font-family: 'Poppins', sans-serif;
}

#main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
}

header{
  height: 10vh;
  width: 100%;
  background: #263238;
}

main{
  flex: 1;
  width: 100%;
}

footer{
  height: 5vh;
}

h1{
  font-weight: 300;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  padding-left: 2rem;
  padding-right: 2rem;
}