#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    & li {
      background-color: aquamarine;
      border-radius: 4px;
      display: flex;

      & a {
        padding: 2px 18px;
        color: black;

        &:hover {
          /* font-weight: bold; */
          /* content: '';
          width: 100%;
          height: 2px;
          background-color: red; */
          border-bottom: 2px solid green;
        }

        &.active {
          border-bottom: 2px solid red;
        }
      }
    }

  }

}